---
pagination:
  data: blogs
  size: 1
  alias: blog
permalink: '/blogs/{{blog.title|slug}}/'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>11ty with TakeShape - 🏡</title>
  </head>

  <body>
    {{blog.datetime}}
  </body>

</html>